/.phpunit.cache
/public/hot
/storage/*.key
.env.backup
.env.example
.env.production
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.images
/.vscode
*.rar
*.zip
/node_modules/
/node_modules
node_modules/
node_modules/*
/images

.env

/tests

/storage
/database_schema
/database/backups
README.md
/public/thumbnail
/app/Models
/vendor
